main > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/1072089202952523866/1095650308547428352/769182_35-free-dual-display-wallpapers-for-desktop-download_3200x1200_h.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
}

main > h1 {
    font-size: 70px;
    font-stretch: semi-expanded;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px 1px 0 #000, 
                  1px 1px 0 #000;
    color:white;
}

main > h2 {
    font-size: 50px;
    font-stretch: semi-expanded;
    /* text-decoration-line: underline; */
    /* text-decoration-style: dotted; */
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px 1px 0 #000, 
                  1px 1px 0 #000;
    color:cornsilk;
}

main > h3 {
    font-size: 50px;
    font-stretch: semi-expanded;
    /* text-decoration-line: underline; */
    /* text-decoration-style: dotted; */
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px 1px 0 #000, 
                  1px 1px 0 #000;
    color:cornsilk;
}

main > h4 {
    font-size: 50px;
    font-stretch: semi-expanded;
    /* text-decoration-line: underline; */
    /* text-decoration-style: dotted; */
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px 1px 0 #000, 
                  1px 1px 0 #000;
    color:cornsilk;
}

#error {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 55px;
    left: 35px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 red, 
                  1px -1px 0 red, 
                  -1px 1px 0 red, 
                  1px 1px 0 red;
}

nav {
    margin-bottom: 30px;
}

#toolbar button {
    font-size: 20px;
    padding: 4px;
    border: 1px;
}
